<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menustyle.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Menu Page</h1>
        <div class="color-container" onclick="gotopainting()">
            Painting
        </div>
        <div class="logoutbtn" onclick="gotowelcome()">Logout</div>
        <div class="color-container" onclick="gototictactoe()">
            Tic-Tac-Toe
        </div>
        <div class="color-container" onclick="gotochess()">
            Chess
        </div>
        <div class="color-container" onclick="gotobrickshooter()">
            Brick Shooter
        </div>
        <div class="color-container" onclick="gototugofwar()">
            Tug of War
        </div>
        <div class="color-container" onclick="gotostacker()">
            Stacker
        </div>
        <div class="color-container" onclick="gotosimonsays()">
            Simon Says
        </div>
        <div class="color-container" onclick="gotopong()">
            Pong
        </div>
        <div class="color-container" onclick="gotoimageshow()">
            Image Show
        </div>
        <script> 
            var socket = io();
            
            var deviceID = {{deviceID}}
            var redirect = '?id='+ {{deviceID}};
            
            function gotopainting() {
              console.log('Done')
              socket.emit('changeApp', {appName: "Painting", deviceID: deviceID})
              window.location.replace('/painting'+redirect)
            	
            }
            
            function gototictactoe() {
            	socket.emit('changeApp', {appName: "tictactoe", deviceID: deviceID})
                    window.location.replace('/tictactoe'+redirect);
            }
            
            function gotowelcome() {
                    window.location.replace('/');
            }
            
            function gotochess() {
            	socket.emit('changeApp', {appName: "chess", deviceID: deviceID})
                    window.location.replace('/chess'+redirect);
            }
            
            function gotoanimation() {
            	socket.emit('changeApp', {appName: "animation", deviceID: deviceID})
                    window.location.replace('/animation'+redirect);
            }
            
            function gotobrickshooter() {
            	socket.emit('changeApp', {appName: "Brick Shooter", deviceID: deviceID})
                    window.location.replace('/brickshooter'+redirect);
            }
            
            function gototugofwar() {
            	socket.emit('changeApp', {appName: "Tug of War", deviceID: deviceID})
                    window.location.replace('/tugofwar'+redirect);
            }
            
            function gotostacker() {
            	socket.emit('changeApp', {appName: "Stacker", deviceID: deviceID})
                    window.location.replace('/stacker'+redirect);
            }
            
            function gotosimonsays() {
            	socket.emit('changeApp', {appName: "Simon Says", deviceID: deviceID})
                    window.location.replace('/simonsays'+redirect);
            }
            
            function gotopong() {
            	socket.emit('changeApp', {appName: "Pong", deviceID: deviceID})
                    window.location.replace('/pong'+redirect);
            }
            
            function gotoimageshow() {
            	socket.emit('changeApp', {appName: "Image Show", deviceID: deviceID})
                    window.location.replace('/imageshow'+redirect);
            }
            
            
        </script>
    </body>
</html>