<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/appstyle.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Stacker</h1>
        <div class="logoutbtn" onclick="gotowelcome()">Logout</div>
        <div class="menubtn" onclick="gotomenu()">Back to Menu</div>
        <!-- <div class="color-container"> -->
        <!-- Color Select: <input type="color" id="myColor" value="#ff0080"> -->
        <!-- </div> -->
        <br>
        <div class="grid-surround">
            <div class="grid-container">
                <div class="grid-item" onclick="changeColor(0)"></div>
                <div class="grid-item" onclick="changeColor(1)"></div>
                <div class="grid-item" onclick="changeColor(2)"></div>
                <div class="grid-item" onclick="changeColor(3)"></div>
                <div class="grid-item" onclick="changeColor(4)"></div>
                <div class="grid-item" onclick="changeColor(5)"></div>
                <div class="grid-item" onclick="changeColor(6)"></div>
                <div class="grid-item" onclick="changeColor(7)"></div>
                <div class="grid-item" onclick="changeColor(8)"></div>
                <div class="grid-item" onclick="changeColor(9)"></div>
                <div class="grid-item" onclick="changeColor(10)"></div>
                <div class="grid-item" onclick="changeColor(11)"></div>
                <div class="grid-item" onclick="changeColor(12)"></div>
                <div class="grid-item" onclick="changeColor(13)"></div>
                <div class="grid-item" onclick="changeColor(14)"></div>
                <div class="grid-item" onclick="changeColor(15)"></div>
                <div class="grid-item" onclick="changeColor(16)"></div>
                <div class="grid-item" onclick="changeColor(17)"></div>
                <div class="grid-item" onclick="changeColor(18)"></div>
                <div class="grid-item" onclick="changeColor(19)"></div>
                <div class="grid-item" onclick="changeColor(20)"></div>
                <div class="grid-item" onclick="changeColor(21)"></div>
                <div class="grid-item" onclick="changeColor(22)"></div>
                <div class="grid-item" onclick="changeColor(23)"></div>
                <div class="grid-item" onclick="changeColor(24)"></div>
                <div class="grid-item" onclick="changeColor(25)"></div>
                <div class="grid-item" onclick="changeColor(26)"></div>
                <div class="grid-item" onclick="changeColor(27)"></div>
                <div class="grid-item" onclick="changeColor(28)"></div>
                <div class="grid-item" onclick="changeColor(29)"></div>
                <div class="grid-item" onclick="changeColor(30)"></div>
                <div class="grid-item" onclick="changeColor(31)"></div>
                <div class="grid-item" onclick="changeColor(32)"></div>
                <div class="grid-item" onclick="changeColor(33)"></div>
                <div class="grid-item" onclick="changeColor(34)"></div>
                <div class="grid-item" onclick="changeColor(35)"></div>
                <div class="grid-item" onclick="changeColor(36)"></div>
                <div class="grid-item" onclick="changeColor(37)"></div>
                <div class="grid-item" onclick="changeColor(38)"></div>
                <div class="grid-item" onclick="changeColor(39)"></div>
                <div class="grid-item" onclick="changeColor(40)"></div>
                <div class="grid-item" onclick="changeColor(41)"></div>
                <div class="grid-item" onclick="changeColor(42)"></div>
                <div class="grid-item" onclick="changeColor(43)"></div>
                <div class="grid-item" onclick="changeColor(44)"></div>
                <div class="grid-item" onclick="changeColor(45)"></div>
                <div class="grid-item" onclick="changeColor(46)"></div>
                <div class="grid-item" onclick="changeColor(47)"></div>
                <div class="grid-item" onclick="changeColor(48)"></div>
                <div class="grid-item" onclick="changeColor(49)"></div>
                <div class="grid-item" onclick="changeColor(50)"></div>
                <div class="grid-item" onclick="changeColor(51)"></div>
                <div class="grid-item" onclick="changeColor(52)"></div>
                <div class="grid-item" onclick="changeColor(53)"></div>
                <div class="grid-item" onclick="changeColor(54)"></div>
                <div class="grid-item" onclick="changeColor(55)"></div>
                <div class="grid-item" onclick="changeColor(56)"></div>
                <div class="grid-item" onclick="changeColor(57)"></div>
                <div class="grid-item" onclick="changeColor(58)"></div>
                <div class="grid-item" onclick="changeColor(59)"></div>
                <div class="grid-item" onclick="changeColor(60)"></div>
                <div class="grid-item" onclick="changeColor(61)"></div>
                <div class="grid-item" onclick="changeColor(62)"></div>
                <div class="grid-item" onclick="changeColor(63)"></div>
                <div class="grid-item" onclick="changeColor(64)"></div>
                <div class="grid-item" onclick="changeColor(65)"></div>
                <div class="grid-item" onclick="changeColor(66)"></div>
                <div class="grid-item" onclick="changeColor(67)"></div>
                <div class="grid-item" onclick="changeColor(68)"></div>
                <div class="grid-item" onclick="changeColor(69)"></div>
                <div class="grid-item" onclick="changeColor(70)"></div>
                <div class="grid-item" onclick="changeColor(71)"></div>
                <div class="grid-item" onclick="changeColor(72)"></div>
                <div class="grid-item" onclick="changeColor(73)"></div>
                <div class="grid-item" onclick="changeColor(74)"></div>
                <div class="grid-item" onclick="changeColor(75)"></div>
                <div class="grid-item" onclick="changeColor(76)"></div>
                <div class="grid-item" onclick="changeColor(77)"></div>
                <div class="grid-item" onclick="changeColor(78)"></div>
                <div class="grid-item" onclick="changeColor(79)"></div>
                <div class="grid-item" onclick="changeColor(80)"></div>
                <div class="grid-item" onclick="changeColor(81)"></div>
                <div class="grid-item" onclick="changeColor(82)"></div>
                <div class="grid-item" onclick="changeColor(83)"></div>
                <div class="grid-item" onclick="changeColor(84)"></div>
                <div class="grid-item" onclick="changeColor(85)"></div>
                <div class="grid-item" onclick="changeColor(86)"></div>
                <div class="grid-item" onclick="changeColor(87)"></div>
                <div class="grid-item" onclick="changeColor(88)"></div>
                <div class="grid-item" onclick="changeColor(89)"></div>
                <div class="grid-item" onclick="changeColor(90)"></div>
                <div class="grid-item" onclick="changeColor(91)"></div>
                <div class="grid-item" onclick="changeColor(92)"></div>
                <div class="grid-item" onclick="changeColor(93)"></div>
                <div class="grid-item" onclick="changeColor(94)"></div>
                <div class="grid-item" onclick="changeColor(95)"></div>
                <div class="grid-item" onclick="changeColor(96)"></div>
                <div class="grid-item" onclick="changeColor(97)"></div>
                <div class="grid-item" onclick="changeColor(98)"></div>
                <div class="grid-item" onclick="changeColor(99)"></div>
                <div class="grid-item" onclick="changeColor(100)"></div>
                <div class="grid-item" onclick="changeColor(101)"></div>
                <div class="grid-item" onclick="changeColor(102)"></div>
                <div class="grid-item" onclick="changeColor(103)"></div>
                <div class="grid-item" onclick="changeColor(104)"></div>
                <div class="grid-item" onclick="changeColor(105)"></div>
                <div class="grid-item" onclick="changeColor(106)"></div>
                <div class="grid-item" onclick="changeColor(107)"></div>
                <div class="grid-item" onclick="changeColor(108)"></div>
                <div class="grid-item" onclick="changeColor(109)"></div>
                <div class="grid-item" onclick="changeColor(110)"></div>
                <div class="grid-item" onclick="changeColor(111)"></div>
                <div class="grid-item" onclick="changeColor(112)"></div>
                <div class="grid-item" onclick="changeColor(113)"></div>
                <div class="grid-item" onclick="changeColor(114)"></div>
                <div class="grid-item" onclick="changeColor(115)"></div>
                <div class="grid-item" onclick="changeColor(116)"></div>
                <div class="grid-item" onclick="changeColor(117)"></div>
                <div class="grid-item" onclick="changeColor(118)"></div>
                <div class="grid-item" onclick="changeColor(119)"></div>
                <div class="grid-item" onclick="changeColor(120)"></div>
                <div class="grid-item" onclick="changeColor(121)"></div>
                <div class="grid-item" onclick="changeColor(122)"></div>
                <div class="grid-item" onclick="changeColor(123)"></div>
                <div class="grid-item" onclick="changeColor(124)"></div>
                <div class="grid-item" onclick="changeColor(125)"></div>
                <div class="grid-item" onclick="changeColor(126)"></div>
                <div class="grid-item" onclick="changeColor(127)"></div>
                <div class="grid-item" onclick="changeColor(128)"></div>
                <div class="grid-item" onclick="changeColor(129)"></div>
                <div class="grid-item" onclick="changeColor(130)"></div>
                <div class="grid-item" onclick="changeColor(131)"></div>
                <div class="grid-item" onclick="changeColor(132)"></div>
                <div class="grid-item" onclick="changeColor(133)"></div>
                <div class="grid-item" onclick="changeColor(134)"></div>
                <div class="grid-item" onclick="changeColor(135)"></div>
                <div class="grid-item" onclick="changeColor(136)"></div>
                <div class="grid-item" onclick="changeColor(137)"></div>
                <div class="grid-item" onclick="changeColor(138)"></div>
                <div class="grid-item" onclick="changeColor(139)"></div>
                <div class="grid-item" onclick="changeColor(140)"></div>
                <div class="grid-item" onclick="changeColor(141)"></div>
                <div class="grid-item" onclick="changeColor(142)"></div>
                <div class="grid-item" onclick="changeColor(143)"></div>
                <div class="grid-item" onclick="changeColor(144)"></div>
                <div class="grid-item" onclick="changeColor(145)"></div>
                <div class="grid-item" onclick="changeColor(146)"></div>
                <div class="grid-item" onclick="changeColor(147)"></div>
                <div class="grid-item" onclick="changeColor(148)"></div>
                <div class="grid-item" onclick="changeColor(149)"></div>
                <div class="grid-item" onclick="changeColor(150)"></div>
                <div class="grid-item" onclick="changeColor(151)"></div>
                <div class="grid-item" onclick="changeColor(152)"></div>
                <div class="grid-item" onclick="changeColor(153)"></div>
                <div class="grid-item" onclick="changeColor(154)"></div>
                <div class="grid-item" onclick="changeColor(155)"></div>
                <div class="grid-item" onclick="changeColor(156)"></div>
                <div class="grid-item" onclick="changeColor(157)"></div>
                <div class="grid-item" onclick="changeColor(158)"></div>
                <div class="grid-item" onclick="changeColor(159)"></div>
                <div class="grid-item" onclick="changeColor(160)"></div>
                <div class="grid-item" onclick="changeColor(161)"></div>
                <div class="grid-item" onclick="changeColor(162)"></div>
                <div class="grid-item" onclick="changeColor(163)"></div>
                <div class="grid-item" onclick="changeColor(164)"></div>
                <div class="grid-item" onclick="changeColor(165)"></div>
                <div class="grid-item" onclick="changeColor(166)"></div>
                <div class="grid-item" onclick="changeColor(167)"></div>
                <div class="grid-item" onclick="changeColor(168)"></div>
                <div class="grid-item" onclick="changeColor(169)"></div>
                <div class="grid-item" onclick="changeColor(170)"></div>
                <div class="grid-item" onclick="changeColor(171)"></div>
                <div class="grid-item" onclick="changeColor(172)"></div>
                <div class="grid-item" onclick="changeColor(173)"></div>
                <div class="grid-item" onclick="changeColor(174)"></div>
                <div class="grid-item" onclick="changeColor(175)"></div>
                <div class="grid-item" onclick="changeColor(176)"></div>
                <div class="grid-item" onclick="changeColor(177)"></div>
                <div class="grid-item" onclick="changeColor(178)"></div>
                <div class="grid-item" onclick="changeColor(179)"></div>
                <div class="grid-item" onclick="changeColor(180)"></div>
                <div class="grid-item" onclick="changeColor(181)"></div>
                <div class="grid-item" onclick="changeColor(182)"></div>
                <div class="grid-item" onclick="changeColor(183)"></div>
                <div class="grid-item" onclick="changeColor(184)"></div>
                <div class="grid-item" onclick="changeColor(185)"></div>
                <div class="grid-item" onclick="changeColor(186)"></div>
                <div class="grid-item" onclick="changeColor(187)"></div>
                <div class="grid-item" onclick="changeColor(188)"></div>
                <div class="grid-item" onclick="changeColor(189)"></div>
                <div class="grid-item" onclick="changeColor(190)"></div>
                <div class="grid-item" onclick="changeColor(191)"></div>
            </div>
        </div>
        <script>
            var elements = document.getElementsByClassName("grid-item");
            
            var socket = io();
            
            var deviceID = {{deviceID}}
            var redirect = '?id='+ deviceID;
            
            var colors = new Array (0, 0, 0, 0, 0, 0, 0, 0, 0)
            
            socket.on('update_led', function(msg, cb) {
              console.log(msg)
              if (msg.userId == deviceID) {
                for (var i = 0; i < 192; i++)
                  colors[i] = msg.data[i];
                console.log("ran")
                fill()
              }
              if (cb)
            	cb();
            });
            
            function reset() {
            	let i = 0;
            	let len = elements.length;
            
            	for (; i < len; i++) {
               		elements[i].style.background = "grey";
            		elements[i].style.color = "grey";
            		elements[i].style.border = "solid";
            		elements[i].style.borderColor = "black";
            		elements[i].style.outline = "solid";
            		elements[i].style.outlineColor = "black";
            	}
            
            }
            
            
            
            // var x = document.getElementById("myColor");
            
            function colorSelect(newColor) {
            	currentColor = newColor;	
            }
            
            let count = 0;
            
            //var colors = new Array ("#FF0080", "#F5E87B", "#0059FF", "#FF0000", "#00FF00");
            
            //var colors = {{ color_array }}
            
            var arranged_colors = new Array;
            
            function fill() {
            	// LoadFile();
            	//var colors = {{ color_array | safe }}
            	var color1 = '#FF0080'
            
            	let x = 0;
            	let len1 = elements.length;
            	
            	for (; x < len1; x++) {
            		console.log(colors[x])
            		if ((x % 32) > 15) {
            			arranged_colors[x + 15 - 2 * (x % 16)] = colors[x];
            		} else {
            			arranged_colors[x] = colors[x];
            		}
            	}
            
            	let i = 0;
            	let len = elements.length;
            	
            	count = count + 1;
            
            	for (; i < len; i++) {
               		elements[i].style.background = arranged_colors[i];
            		console.log(arranged_colors[i]);
            
            	}
            
            }
            
            
            var x = "#000000";
            
            function changeColor(spot) {
            	
               elements[spot].style.background = x;
               socket.emit('buttonPressed', {index: spot, color: x, deviceID: deviceID})
            }
            
            function submit_pro_id() {
                    window.location.replace('/painting'+redirect);
            }
            
            function gotoart() {
                    window.location.replace('/art'+redirect);
            }
            
            function gotomenu() {
                    window.location.replace('/menu'+redirect);
            }
            
            function gotowelcome() {
                    window.location.replace('/');
            }
            
        </script>
    </body>
</html>