body {
    height: 750px;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0.3),
    rgba(255,165,0,1));
}

header {
  box-sizing: border-box;
}

color {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;

}

.menubtn {
  position: absolute;
  top: 10px;
  left: 10px;
  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
  padding: 12px 24px;
  color: white;
  background-color: blue;
  cursor: pointer;

}

.logoutbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
  padding: 12px 24px;
  color: white;
  background-color: blue;
  cursor: pointer;

}

.btnContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;

}

.btn {

  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
  padding: 12px 24px;
  cursor: pointer;
  color: white;
  background-color: white;

}

.btn:hover {
  background-color: grey;

}

.grid-surround {
  position: relative;
  top: -30px;
  padding: 10px;
  background-color:#2196F3;
  width: 860px;
  margin: auto;
}

.grid-container {
  width: 860px;
  display: grid;

  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  

  padding: 0px;
}
.grid-item {
  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
  padding: 10px 24px;
  cursor: pointer;
  color: white;
  background-color: white;
  height: 10px;

}

.grid-item:hover {
  background-color: grey;
}

.color-container {
  background-color: #AD08FF;
  width: 200px;
  height: 20px;
  text-align: center;
  padding: 20px 0;
  color: white;
  position: relative;
  left: 186px;
  top: -20px;
  //margin: auto;
  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
}

.file-receiver {
  background-color: #AD08FF;
  width: 200px;
  height: 60px;
  text-align: center;
  padding: 10px 0;
  color: white;
  position: relative;
  left: 50px;
  border: solid;
  border-color: black;
  outline: solid;
  outline-color: black;
}